<ion-tabs>
  <ion-footer>
    <ion-fab horizontal="end">
      <ion-fab-button color="warning" class="center-ion-fab">
        <ion-icon name="rocket"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-tab-button tab="tab3">
          <ion-fab-button color="medium"><ion-icon name="hand-left" color="light"></ion-icon></ion-fab-button>
        </ion-tab-button>
        <ion-tab-button tab="tab2">
          <ion-fab-button color="medium"><ion-icon name="search" color="light"></ion-icon></ion-fab-button>
        </ion-tab-button>
        <ion-tab-button tab="tab1">
          <ion-fab-button color="medium"><ion-icon name="shuffle" color="light"></ion-icon></ion-fab-button>
        </ion-tab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-footer>
</ion-tabs>
