<ion-tabs>

  <ion-footer>
    <ion-fab horizontal="end">
      <ion-fab-button class="center-ion-fab">
        <ion-icon name="rocket"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button color="dark"><ion-icon name="star" color="light"></ion-icon></ion-fab-button>
        <ion-fab-button color="dark"><ion-icon name="search" color="light"></ion-icon></ion-fab-button>
        <ion-fab-button color="dark"><ion-icon name="shuffle" color="light"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-footer>

</ion-tabs>
