ion-fab {
  bottom: 10px;
}

.center-ion-fab {
  --background: rgba(255,255,255,0);
  --box-shadow: 0;
  --close-icon-font-size: 3.5rem;
}

ion-tab-button {
  scale: .8;
  position: relative;
  right: 0;
  ion-fab-button {
    ion-icon {
      font-size: 25px;
    }
  }
}
