ion-fab {
  bottom: 10px;
}

.center-ion-fab {
  --background: rgba(255,255,255,0);
  --box-shadow: 0;
  --close-icon-font-size: 3.5rem;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
}

ion-tab-button {
  scale: .8;
  ion-fab-button {
    ion-icon {
      font-size: 25px;
      scale: 1.1;
      margin-right: 0px;
    }
  }
}

.special-icon {
  scale: 1.5;
  margin: auto;
}
