@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

ion-label {
  font-family: 'Cabin', sans-serif;
}

ion-card-title {
  color: rgb(92, 168, 255);
}

ion-item {
  ion-label + ion-label {
    color: gray;
  }
}
