<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="head">
        <strong>ADVENTURER GUIDE</strong>
    </ion-title>
    <ion-title>
      LIBRAS
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title><strong>INTRODUÇÃO</strong></ion-card-title>
            <ion-card-subtitle>Introdução ao tema de nós e amarras</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Os nós são a base da segurança em várias profissões e atividades.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--FONTE DAS IMAGES: http://falcaoperegrino.com.br/desbravadores/nos-e-amarras-->
</ion-content>
