<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="head">
      <strong>ADVENTURER GUIDE</strong>
    </ion-title>
    <ion-title> NÓS E AMARRAS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title
              ><ion-icon name="link"></ion-icon
              ><strong>INTRODUÇÃO</strong></ion-card-title
            >
            <ion-card-subtitle
              >Introdução ao tema de
              <strong>nós e amarras</strong></ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            Os nós são a base da segurança em várias profissões e atividades.
            Nessa sessão você irá conhecer alguns dos nós mais utilizados em
            atividades diárias.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Amarra Diagonal</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Amarra-Diagonal20150323021709.jpg"
                  />
                  A amarra diagonal serve para fixar dois postes (bambus,
                  madeiras...) entre si, com um ângulo qualquer entre eles.
                  Assim como a Amarra Quadrada, é feito com sisal, que por ter
                  mais fibras, prende melhor do que cordas de algodão ou
                  sintéticas.
                  <hr />
                  Geralmente, o ângulo maior tem mais voltas que o ângulo menor,
                  fixando melhor aquela posição. Existem diversas maneiras de
                  começar ou terminar a amarra, cabe a quem está fazendo adaptar
                  a mais apropriada para a situação.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Amarra Quadrada</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Amarra-Quadrada20150323021618.jpg"
                  />
                  A amarra quadrada serve para fixar dois postes (bambus,
                  madeiras...) entre si, com um ângulo de aproximadamente 90º
                  entre eles. Geralmente é feito com sisal, que por ter mais
                  fibras, prende melhor do que cordas de algodão ou sintéticas.
                  <hr />
                  Existem diversas variações no modo de começar e terminar a
                  amarra, e cabe a quem está executando o nó ver qual a mais
                  adequada naquela situação.
                </ion-thumbnail>
              </div>
            </ion-accordion>


            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Aselha</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Aselha20150323000726.jpg"
                  />
                  O Nó de Aselha (ou Azelha) é muito prático. Cria uma alça que
                  não corre de maneira prática e rápida. Infelizmente, se for
                  submetido a grandes forças, ele aperta a ponto de ser
                  impossível soltar. Por este motivo, não é sugerido em várias
                  ocasiões. Para evitar que o nó fique impossível de desfazer,
                  algumas pessoas colocam um galho no meio do nó, e tiram ele na
                  hora de soltar, afrouxando o nó.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Balso pelo Seio</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Balso-pelo-Seio20150323000651.jpg"
                  />
                  O Nó Balso pelo seio é bem parecido com o Lais de Guia, sendo
                  inclusive chamado de Lais de Guia duplo. É um nó que cria duas
                  alças que não correm.
                  <hr />
                  É bem simples de fazer, e mesmo submetido a grandes forças é
                  fácil de soltar (comparativamente com outros nós sob a mesma
                  força).
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Lais de Guia</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Lais-de-Guia20150323000146.jpg"
                  />
                  O Lais de Guia é um nó que reune as melhores características
                  de um nó. Ele é simples, fácil de fazer, fácil de regular,
                  fácil de desfazer e muito firme.
                  <hr />
                  É um nó que cria uma alça que não corre. Sua utilização é
                  variadíssima, exatamente por sua praticidade.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó Albright</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Albright20150323112902.jpg"
                  />
                  O Nó Albright é muito usado por pescadores. Serve para unir
                  duas cordas de diâmetros diferentes. Seu diferencial para o Nó
                  de Escota é sua eficiência para cordas que correm facilmente.
                  <hr />
                  Como fios de nylon são extremamente escorregadios, este nó os
                  une de maneira muito mais segura que um escota ou similar.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó Direito</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Direito20150322235627.jpg"
                  />
                  O Nó direito é um dos nós mais básicos. Simples, fácil de
                  fazer e firme, tem as principais características positivas de
                  um nó.
                  <hr />
                  Serve para unir as pontas de duas cordas, formando uma corda
                  maior; ou as duas pontas da mesma corda, formando uma alça.
                  Sua maior desvantagem é que só fica firme se utilizado em
                  cordas de material não-sintético de mesma largura.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Arnez</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Arnez20150323105419.jpg"
                  />
                  O nó de Arnez serve para criar uma alça que não corre no meio
                  de uma corda. Sua utilização é variada, e tem como vantagem
                  ser fácil de fazer, e mais fácil de soltar que o Azelha (que
                  tem a mesma finalidade).
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Correr</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Correr20150323011135.jpg"
                  />
                  O Nó de Correr, conhecido também como Nó Corrediço, cria uma
                  alça que corre. É bem rápido e fácil de fazer, e suas
                  utilidades são variadas.
                  <hr />
                  Seu uso principal é amarrar objetos que devem ficar mais
                  firmes quando for exercida uma força sobre eles.
                  <hr />
                  Deve ser evitado seu uso direto com o corpo, pois o nó aperta
                  sob qualquer movimento ou força, podendo cortar a circulação
                  no local.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Escota</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Escota20150322234752.jpg"
                  />
                  O Nó de Escota é um nó muito versátil. Serve para unir as
                  pontas de cordas com espessuras diferentes. É muito firme, e
                  não cede à pressão, mas na hora de desfazer, não fica muito
                  apertado.
                  <hr />
                  Existe a versão Dupla (e tripla, que segue o mesmo princípio)
                  e alceada. A versão alceada é largamente usada como nó de
                  bandeira, por ser muito firme, porém fácil de desfazer.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Pescador</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Pescador20150323010419.jpg"
                  />
                  O Nó de pescador nada mais é do que dois nós simples (cotes)
                  cada um feito em uma das duas cordas. Serve para unir cordas
                  de espessuras diferentes, e sua maior vantagem é não ceder, e
                  ser extremamente simples e fácil de fazer.
                  <hr />
                  Têm uma variação dupla. Infelizmente não é tão fácil de soltar
                  como outros nós com a mesma função (como o escota), mas é
                  extremamente confiável.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Volta do Fiel</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Volta-do-Fiel20150323011532.jpg"
                  />
                  A volta do Fiel e Volta do fiel Dupla são nós que servem para
                  se fixar uma corda em um tronco. É muito usado por iatistas
                  para atracar o barco com segurança, mas também é muito usado
                  por escoteiros para começar amarras.
                  <hr />
                  É um nó bastante firme (principalmente o duplo), e pode ser
                  arrematado com um cote.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Volta do Salteador</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Volta-do-Salteador20150322230117.jpg"
                  />
                  A Volta do Salteador é um nó bastante útil, porém bastante
                  perigoso. Serve para prender uma corda de modo que uma das
                  pontas fique presa e a outra, se puxada, desfaz o nó. Porém,
                  alguns tipos de corda sintéticas muito lisas fazem o nó
                  escorregar, soltando ou se desfazendo facilmente. <hr>Recomendo
                  que se treine bastante este nó antes de submetê-lo a uma carga
                  pesada.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Oito</span></ion-label>
                <ion-label slot="end"><small>UTILITÁRIO / DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Oito20150322235242.jpg"
                  />
                  O Nó de oito, ou apenas nó oito é um nó de travamento (e
                  também decorativo). Sua bela forma de 8 que lhe confere este
                  nome.
                  <hr />
                  Como todo nó de travamento, serve para limitar o curso de uma
                  corda. se esta corda passar por um obstáculo (como um olhal,
                  um mosquetão, um moitão, uma roldana...), o nó impedirá que a
                  corda continue correndo.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Forca</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Forca20150323031739.jpg"
                  />
                  O Nó de Forca é um belo nó decorativo. Cria uma alça difícil
                  de correr, ou seja, pode ser ajustada, mas que deve se manter
                  naquela posição até que se use muita força para ajustar
                  novamente.
                  <hr />
                  Este nó foi largamente utilizado para a execução de
                  prisioneiros, por isto recebeu este nome. Seu uso recomendado
                  é puramente decorativo.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó Borboleta</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Borboleta20150323105335.jpg"
                  />
                  O Nó borboleta serve para criar uma alça que não corre no meio
                  de uma corda. Tem um formato simétrico muito bonito, podendo
                  servir como nó decorativo.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Anel de Gilwell</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-Anel-de-Gilwell20150323025358.jpg"
                  />
                  O Anel de Gilwell nada mais é do que um Nó Cabeça de Turco com
                  duas voltas. É um nó decorativo de formato circular e
                  trançado.
                  <hr />
                  É usado por chefes escoteiros que já completaram o módulo
                  básico de treinamento, para prender o lenço. Depois de pronto,
                  o excesso de corda é cortado e queimado (para não desfiar).
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó Ordinário</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Ordin%C3%A1rio20150323010757.jpg"
                  />
                  O Nó Ordinário serve para unir pontas de cordas de mesma
                  espessura, mas seu uso é praticamente só decorativo. Quando as
                  pontas são esticadas ele perde sua forma decorativa e se torna
                  muito difícil de identificar. Além disso, fica extremamente
                  apertado e difícil de soltar.
                  <hr />
                  O uso recomendado é puramente decorativo
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó Quadrado</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Quadrado20150323003147.jpg"
                  />
                  O Nó quadrado une as pontas de duas cordas, porém o ângulo
                  entre as cordas fica de 90º. É um nó decorativo bem bonito.
                  <hr />
                  É muito usado em lenços, e no escotismo é um símbolo de
                  amizade entre duas pessoas (o dono do lenço e aquele que fez o
                  nó). Por este motivo, também é conhecido como nó da amizade.
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó de Moringa</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Moringa20150323011955.jpg"
                  />
                  O Nó de Moringa é um belo nó decorativo. Seu nome vem dos
                  vasos de barro utilizados para armazenar água no século
                  passado, a moringa. É um nó que prende muito bem a boca de uma
                  garrafa, criando uma alça para carregar.
                  <hr />
                  Atualmente, raramente é utilizado com esse intuito, servindo
                  geralmente apenas como adorno. É um belo nó, porém,
                  consideravelmente difícil de aprender. Também é conhecido como
                  Nó de Ânfora.
                </ion-thumbnail>
              </div>
            </ion-accordion>


            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Nó Pingo</span></ion-label>
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Pingo20150323185405.jpg"
                  />
                  O nó pingo é um nó decorativo com o formato de uma gota
                  (pingo) d'água.
                  <hr />
                  É bem simples de ser feito e fica bem bonito se for ajeitado
                  com cuidado. Seu propósito é puramente decorativo, mas com
                  certeza vale a pena aprender
                </ion-thumbnail>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label
                  ><span
                    >Nó Matthew Walker <small>(2 PONTAS)</small></span
                  ></ion-label
                >
                <ion-label slot="end"><small>DECORATIVO</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Matthew-Walker-(2-pontas)20150324023605.jpg"
                  />
                  O Nó Matthew Walker serve como nó decorativo, arrematando a
                  ponta de uma corda, evitando que se desfie. Porém, quando é
                  feito com apenas duas pontas, serve para unir duas cordas, em
                  um belo nó.
                  <hr />
                  Este nó é conhecido em inglês como True Lovers Knot (Nó do
                  Verdadeiro Amor) por formar dois anéis entrecruzados, que
                  jamais se separam.
                </ion-thumbnail>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--FONTE DAS IMAGES: https://www.guiadenos.com.br/-->
</ion-content>
