<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="head">
      <strong>ADVENTURER GUIDE</strong>
    </ion-title>
    <ion-title> NÓS E AMARRAS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-icon name="link"></ion-icon><strong>INTRODUÇÃO</strong></ion-card-title>
            <ion-card-subtitle
              >Introdução ao tema de <strong>nós e amarras</strong></ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            Os nós são a base da segurança em várias profissões e atividades.
            Nessa sessão você irá conhecer alguns dos nós mais utilizados em
            atividades diárias.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Pingo20150323185405.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>NÓ PINGO </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O nó pingo é um nó decorativo com o formato de uma gota (pingo)
            d'água. É bem simples de ser feito e fica bem bonito se for ajeitado
            com cuidado. Seu propósito é puramente decorativo, mas com certeza
            vale a pena aprender
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Matthew-Walker-(2-pontas)20150324023605.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title
              >NÓ MATTHEW WALKER <small>(2 PONTAS)</small>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O Nó Matthew Walker serve como nó decorativo, arrematando a ponta de
            uma corda, evitando que se desfie. Porém, quando é feito com apenas
            duas pontas, serve para unir duas cordas, em um belo nó. Este nó é
            conhecido em inglês como True Lovers Knot (Nó do Verdadeiro Amor)
            por formar dois anéis entrecruzados, que jamais se separam.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-Albright20150323112902.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>NÓ ALBRIGHT</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O Nó Albright é muito usado por pescadores. Serve para unir duas
            cordas de diâmetros diferentes. Seu diferencial para o Nó de Escota
            é sua eficiência para cordas que correm facilmente. Como fios de
            nylon são extremamente escorregadios, este nó os une de maneira
            muito mais segura que um escota ou similar.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Cirurgi%C3%A3o20150323003617.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>NÓ DE CIRURGIÃO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O Nó de Cirurgião, como o nome sugere, é utilizado em casos de
            emergência, pois une as pontas de maneira muito estável, sendo
            extremamente difícil de ceder ou soltar involuntariamente.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-N%C3%B3-de-Forca20150323031739.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>NÓ DE FORCA</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O Nó de Forca é um belo nó decorativo. Cria uma alça difícil de
            correr, ou seja, pode ser ajustada, mas que deve se manter naquela
            posição até que se use muita força para ajustar novamente. Este nó
            foi largamente utilizado para a execução de prisioneiros, por isto
            recebeu este nome. Seu uso recomendado é puramente decorativo.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-Amarra-Diagonal20150323021709.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>AMARRA DIAGONAL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            A amarra diagonal serve para fixar dois postes (bambus, madeiras...)
            entre si, com um ângulo qualquer entre eles. Assim como a Amarra
            Quadrada, é feito com sisal, que por ter mais fibras, prende melhor
            do que cordas de algodão ou sintéticas. Geralmente, o ângulo maior
            tem mais voltas que o ângulo menor, fixando melhor aquela posição.
            Existem diversas maneiras de começar ou terminar a amarra, cabe a
            quem está fazendo adaptar a mais apropriada para a situação.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-thumbnail>
            <img
              src="https://www.guiadenos.com.br/dados/Guia-de-nos-Amarra-Quadrada20150323021618.jpg"
            />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>AMARRA QUADRADA</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            A amarra quadrada serve para fixar dois postes (bambus, madeiras...)
            entre si, com um ângulo de aproximadamente 90º entre eles.
            Geralmente é feito com sisal, que por ter mais fibras, prende melhor
            do que cordas de algodão ou sintéticas. Existem diversas variações
            no modo de começar e terminar a amarra, e cabe a quem está
            executando o nó ver qual a mais adequada naquela situação.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--FONTE DAS IMAGES: https://www.guiadenos.com.br/-->
</ion-content>
