<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="head">
      <strong>ADVENTURER GUIDE</strong>
    </ion-title>
    <ion-title> PRIMEIROS SOCORROS </ion-title>
    <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title
              ><ion-icon name="medkit"></ion-icon
              ><strong>GUIA DE PRIMEIROS SOCORROS</strong></ion-card-title
            >
            <ion-card-subtitle
              >Introdução à
              <strong>Primeiros Socorros</strong></ion-card-subtitle
            >
            <ion-thumbnail>
              <img src="https://media.istockphoto.com/photos/first-aid-articles-picture-id1207070882?b=1&k=20&m=1207070882&s=170667a&w=0&h=05V1Nvr3D4hkyHaDheZUPKP8HNb-XJdVa3OnGdyx_is=" alt="Primeiros socorros">
            </ion-thumbnail>
          </ion-card-header>

          <ion-card-content>
            São intervenções que devem ser feitas de maneira
            <strong>rápida</strong>, logo após o acidente ou mal súbito, que
            visam a evitar o agravamento do problema até que um serviço
            especializado de atendimento chegue até o local.
          </ion-card-content>

          <ion-card-content>
            Essas intervenções são muito importantes, pois podem evitar
            complicações e até mesmo evitar a morte de um indivíduo.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label color="danger"><span>Emergências</span></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card-content>
                  Antes de qualquer procedimento de primeiro socorro, é
                  importante que o socorrista tenha em mente a necessidade de:
                  <ul>
                    <li><strong>Manter a calma;</strong></li>
                    <li><strong>Afastar os curiosos;</strong></li>
                    <li>
                      <strong
                        >Garantir que serviço de emergência<br />
                        seja chamado;</strong
                      >
                    </li>
                  </ul>
                  <hr />
                  <tbody>
                    <tr>
                      <td colspan="2">
                        <ion-label color="warning"
                          >Telefones úteis em caso de emergência</ion-label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><strong>Samu</strong></p>
                      </td>
                      <td>
                        <p>192</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><strong>Corpo de Bombeiros</strong></p>
                      </td>
                      <td>
                        <p>193</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><strong>Disque-intoxicação</strong></p>
                      </td>
                      <td>
                        <p>0800-722-6001</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><strong>Defesa Civil</strong></p>
                      </td>
                      <td>
                        <p>199</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><strong>Polícia Militar </strong></p>
                      </td>
                      <td>
                        <p>190</p>
                      </td>
                    </tr>
                  </tbody>
                  <hr />
                  É muito importante salientar que algumas pessoas não estão
                  preparadas para realizar os primeiros socorros e, portanto, o
                  ideal é que deixe outra pessoa realizar os procedimentos
                  adequados e auxiliar de
                  <strong
                    >outra maneira, como,
                    <ion-label color="primary"
                      >buscando socorro.</ion-label
                    ></strong
                  >
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Omissão de socorro</span></ion-label>
                <ion-label slot="end"><small>IMPORTANTE</small></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://cejil.org/wp-content/uploads/2021/09/Statue-of-justice-1.jpg"
                  />
                </ion-thumbnail>
                <ion-card-content>
                  A omissão de socorro é considerada
                  <ion-label color="warning">crime</ion-label> em nosso país.
                  Segundo o <u>Decreto-Lei Nº 2.848</u>, de 7 de dezembro de
                  1940, deixar de prestar assistência a uma pessoa em risco pode
                  resultar em detenção ou multa.
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Queimaduras</span></ion-label>
                <ion-label slot="end"
                  ><small>PRIMEIROS SOCORROS</small></ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://s5.static.brasilescola.uol.com.br/img/2019/07/queimadura.jpg"
                  />
                </ion-thumbnail>
                <ion-card-content>
                  Queimaduras são situações relativamente comuns no nosso dia a
                  dia.
                  <hr />
                  Elas são classificadas, de acordo com o dano causado, em
                  queimadura de <strong>primeiro grau</strong>, queimadura de
                  <strong>segundo grau</strong> e queimadura de
                  <strong>terceiro grau</strong>.
                  <hr />
                  A queimadura de primeiro grau afeta apenas a epiderme (camada
                  mais externa da pele), já a de segundo grau afeta a derme e
                  epiderme, enquanto a de terceiro grau atinge também o tecido
                  abaixo da pele.
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Picadas</span></ion-label>
                <ion-label slot="end"
                  ><small>PRIMEIROS SOCORROS</small></ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://s1.static.brasilescola.uol.com.br/img/2019/07/picada-de-serpente.jpg"
                  />
                </ion-thumbnail>
                <ion-card-content>
                  Algumas serpentes são capazes de injetar toxinas que podem
                  causar grandes danos ao organismo e até mesmo a morte. Sendo
                  assim, em caso de acidente com serpentes, é importante
                  realizar alguns <strong>procedimentos rapidamente</strong>.
                  <hr />
                  Os primeiros socorros consistem em lavar a área da picada com
                  água e sabão, colocar o acidentado em posição confortável, de
                  preferência deixando a vítima deitada com a área afetada em um
                  nível abaixo do coração e levar a vítima ao atendimento médico
                  mais rápido.
                  <hr />
                  É fundamental não aplicar qualquer substância, não fazer
                  cortes no local e nem amarrar ou fazer torniquetes. Outro
                  ponto importante é não deixar a vítima locomover-se por meios
                  próprios. Caso seja possível, levar a cobra para a
                  identificação.
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Engasgamento</span></ion-label>
                <ion-label slot="end"
                  ><small>PRIMEIROS SOCORROS</small></ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://s2.static.brasilescola.uol.com.br/img/2019/07/manobra-de-heimlich.jpg"
                  />
                </ion-thumbnail>
                <ion-card-content>
                  Inicialmente, o socorrista deve acalmar a vítima e,
                  posteriormente, aplicar a técnica conhecida como
                  <strong>manobra de Heimlich.</strong>
                  <hr />
                  Nessa manobra, o socorrista posiciona-se logo atrás da vítima
                  e coloca o braço ao redor abdome dela. Uma mão fica fechada
                  sobre a boca do estômago e a outra mão é posicionada em cima
                  da primeira e a comprime.
                  <hr />
                  Os movimentos de compressão deverão ser feitos para dentro e
                  para cima, permitindo que o objeto que está bloqueando a via
                  respiratória seja eliminado.
                  <hr />
                  Em <strong>bebês</strong>, deve-se colocar a criança com a
                  barriga para baixo sobre seu antebraço, deixando a cabeça mais
                  baixa que o corpo, e dar cinco pancadas utilizando o punho da
                  mão.
                  <hr />
                  <strong>Vire a criança</strong>
                  para cima apoiando sua cabeça e deixando-a mais baixa que o
                  corpo e observe se ocorreu a saída do objeto. Caso o objeto
                  não tenha saído, aplique cinco compressões rápidas no tórax
                  entre a linha dos mamilos utilizando os dois dedos maiores da
                  mão. Se as manobras não funcionarem, pedir ajuda rapidamente e
                  continuar tentando o procedimento.
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Fraturas</span></ion-label>
                <ion-label slot="end"
                  ><small>PRIMEIROS SOCORROS</small></ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://s1.static.brasilescola.uol.com.br/img/2019/07/fratura.jpg"
                  />
                </ion-thumbnail>
                <ion-card-content>
                  Dizemos que ocorreu uma fratura quando o osso perde sua
                  continuidade. A fratura pode ser exposta quando a pele é
                  rompida e pode-se ver o osso, e fechada quando a pele não se
                  rompe.
                  <hr />
                  Em ambos os casos,
                  <strong
                    >é fundamental ajuda médica profissional para que a
                    recuperação do osso seja feita de maneira adequada.</strong
                  >
                  <hr />
                  Primeiramente, o socorrista deve imobilizar a região acometida
                  para evitar a movimentação dos fragmentos dos ossos
                  lesionados. Não se deve tentar colocar o osso no local, pois
                  isso pode agravar o quadro, caso seja feito de maneira
                  inadequada.
                  <hr />
                  Em caso de fraturas expostas, é necessário tentar controlar,
                  caso esteja presente, a hemorragia com um pano limpo que deve
                  ser colocado sobre o local e pressionado. Lembre-se que
                  fraturas em costas e pescoço necessitam de mais atenção e a
                  movimentação só deve ser feita por
                  <strong>profissionais</strong>.
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Desmaios</span></ion-label>
                <ion-label slot="end"
                  ><small>PRIMEIROS SOCORROS</small></ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-thumbnail>
                  <img
                    src="https://s1.static.brasilescola.uol.com.br/img/2019/07/desmaio.jpg"
                  />
                </ion-thumbnail>
                <ion-card-content>
                  O desmaio caracteriza-se como uma
                  <strong>perda transitória de consciência</strong> e,
                  diferentemente do que muitos pensam, geralmente, não é uma
                  situação que é considerada uma ameaça à vida.
                  <hr />
                  O desmaio pode ser causado por diferentes causas como, por
                  exemplo, hipoglicemia, cansaço, fortes emoções, calor intenso,
                  dores e mudanças súbitas de posição.
                  <hr />
                  Os maiores problemas decorrentes de desmaio estão no fato de
                  que a queda pode levar ao desenvolvimento de lesões.
                  <hr />
                  Ao presenciar um desmaio, algumas medidas podem ser tomadas,
                  como deitar a vítima, afrouxar suas roupas, garantir que o
                  ambiente fique arejado e elevar os membros inferiores.
                  <hr />
                  Caso a pessoa sinta a sensação de que irá desmaiar, essa pode
                  ser orientada a se sentar e colocar a cabeça entre os joelhos
                  ou então se deitar.
                </ion-card-content>
              </div>
            </ion-accordion>

            <ion-accordion>
              <ion-item slot="header" color="darker">
                <ion-label><span>Convulsão</span></ion-label>
                <ion-label slot="end"
                  ><small>PRIMEIROS SOCORROS</small></ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card-content>
                  As convulsões podem ser definidas como crises epiléticas em
                  que se observa um acometimento do sistema motor, geralmente,
                  desencadeando uma série de contrações musculares violentas,
                  salivação, palidez, lábios azulados e perda da consciência.
                  <hr />
                  Em caso de convulsões, algumas medidas são
                  <strong>importantes</strong>, sendo a primeira delas tentar
                  evitar que a vítima caia desamparadamente.
                  <hr />
                  Tente deitar a vítima e afastar de perto dela objetos que
                  podem ser perigosos. Suas roupas devem ser afrouxadas e o
                  rosto virado para o lado para evitar engasgos.
                  <hr />
                  Não se deve interferir nos movimentos, nem colocar objetos
                  entre os dentes da vítima. Quando a convulsão passar, mantenha
                  a vítima deitada até a recuperação da consciência. Caso a
                  convulsão demore mais de 5 minutos, é essencial chamar o
                  serviço de emergência.
                </ion-card-content>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-label color="warning"><strong>PS:</strong></ion-label> Nenhum
            guia substitui a ajuda de um
            <strong>profissional qualificado</strong>.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--FONTE DAS IMAGES: https://brasilescola.uol.com.br/saude/primeiros-socorros.htm#-->
</ion-content>
